
h1 {
    font-size: 5.882rem !important;


}

.matts-intro{width:86px;height:86px;background:#bada55; position:fixed;}
.secondScape{
  background:#ee3a34;
  margin:0 !important;
  border-bottom:none !important;
}

.phoneScape{
  background:#efefef;
  margin:0 !important;
  border-bottom:none !important;
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


h1 {
    font-size: 5.882rem;}

}




@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}

@media only screen and (max-width: 480px){
  h1 {
      font-size: 49px !important;
  }
}
